---
import Link from "@components/links/Link/Link.astro";
import { ROUTER } from "../../../pages/router";
---

<header>
  <nav>
    <Link href={ROUTER.index.href}>{ROUTER.index.display}</Link>
    <Link href={ROUTER.contacto.href}>{ROUTER.contacto.display}</Link>
  </nav>
</header>

<style>
  header {
    border-bottom: var(--border);
    min-height: 80px;

    display: grid;
    align-items: center;

    nav {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: var(--xl);

      @media (min-width: 320px) and (max-width: 767px) {
        gap: var(--lg);
      }

      a {
        color: inherit;
        text-transform: capitalize;

        &:hover {
          color: var(--primary);
        }
      }
    }
  }
</style>
