---
import Layout from "@layouts/Layout/Layout.astro";
import { ROUTER } from "../router";
import Btn from "@components/buttons/Btn/Btn.astro";
---

<Layout title={ROUTER.home.display}>
  <main>
    <h1>¡Hola mundo!</h1>
    <Btn>oe</Btn>
  </main>
</Layout>
