.ks {
  width: 100%;
  min-height: calc(100vh - var(--h_header));

  .slide {
    background: var(--bg_surf);
    padding: var(--lg);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .prev,
  .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: inherit;
    background-color: transparent;
    line-height: 1rem;
    font-size: 2rem;
  }

  .prev {
    left: 0;
  }

  .next {
    right: 0;
  }
}
